html, body {
  height: 100%;
  width: 100%;
}
header {
  background: blue;
  height: 10%;
  width: 100%;
}
main {
  height: 80%;
  width: 100%;
}
.left {
  background: lightblue;
  float: left;
  height: 100%;
  width: 20%;
}
.center {
  background: pink;
  height: 100%;
  float: clear;
  left: 20%;
  width: 80%;
}
.right {
  background: green;
  float: right;
  height: 90%;
  right: 0;
  top: 10%;
  position: absolute;
  width: 20%;
  z-index: -1;
}
footer {
  background: purple;
  height: 10%;
  width: 100%;
}